body {
    background-color: #083b4c!important;
}

.title{
    
    font-size: 100px;

}



.boxCard {
        width: 100px;
        margin: 0 auto;
        text-align: center;
        line-height: 100px;
        font-size: 25px;
        font-weight: bold;
        background-color: #1389b2;
}

.FizzBuzzColor {
    background-color: #f0466f;
}

.FizzColor {
    background-color: #0bd6a1;
}

.BuzzColor {
    background-color: #ffd166;
}

